<nav class="navbar navbar-default" >
   <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse"
           id="toggle-app-links">
         <ul class="nav navbar-nav">
            <li ui-sref-active="active">
               <a ui-sref="employee.list({lastname: undefined, firstname: undefined, title: undefined, deleted: undefined})"
                  sec:authorize="hasAnyRole('ROLE_ADMIN')"
                  >
                  <i class="fa fa-users"></i>
                  <span translate="navbar.employee">Employees</span>
               </a>
            </li>
            <li ui-sref-active="active">
               <a ui-sref="credit.list({})"
                  >
                  <i class="fa fa-clock-o"></i>
                  <span translate="navbar.credit">Credits</span>
               </a>
            </li>
         </ul>

         <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
               <a href=""
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false">
                  <img class="flag lang-pl" alt="PL"
                       th:src="@{/img/blank.gif}"
                       ng-if="activeLanguage === 'pl_PL'"/>
                  <span ng-if="activeLanguage === 'pl_PL'"
                        translate="navbar.language.polish">
                     Polish
                  </span>
                  <img class="flag lang-en" alt="EN"
                       th:src="@{/img/blank.gif}"
                       ng-if="activeLanguage === 'en_GB'"/>
                  <span ng-if="activeLanguage === 'en_GB'"
                        translate="navbar.language.english">
                     English
                  </span>
                  <span class="caret"></span>
               </a>
               <ul class="dropdown-menu">
                  <li>
                     <a class="clickable" ng-click="changeLanguage('pl_PL')">
                        <img class="flag lang-pl" alt="PL"
                             th:src="@{/img/blank.gif}"/>
                        <span translate="navbar.language.polish">Polish</span>
                     </a>
                  </li>
                  <li>
                     <a class="clickable" ng-click="changeLanguage('en_GB')">
                        <img class="flag lang-en" alt="EN"
                             th:src="@{/img/blank.gif}"/>
                        <span translate="navbar.language.english">English</span>
                     </a>
                  </li>
               </ul>
            </li>
            <li sec:authorize="isAuthenticated()">
               <p class="navbar-text">{{loggedEmployee.firstname}} {{loggedEmployee.lastname}}</p>
            </li>
            <li class="dropdown">
               <a href=""
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false">
                  <span class="caret"></span>
               </a>
               <ul class="dropdown-menu">
                  <li>
                     <a th:href="@{/logout}">
                        <i class="fa fa-sign-out fa-fw"></i>
                        <span translate="navbar.menu.logout">Logout</span>
                     </a>
                  </li>
               </ul>
            </li>
         </ul>
      </div><!-- /.navbar-collapse -->
   </div><!-- /.container-fluid -->
</nav>
