<h3>
   <span translate="employee-add.label.new">
      New User
   </span>
</h3>
<br/>
<form method="post" class="form-horizontal"
      role="form" action="..." name="employeeForm">
   <div class="form-group"
        ng-class="{'has-success':andOperator(employeeForm.firstname.$valid,employeeForm.firstname.$dirty),
               'has-error':andOperator(employeeForm.firstname.$invalid,employeeForm.firstname.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="employee-add.label.firstname">Firstname</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="firstname" 
                required="true"
                ng-attr-placeholder="{{'employee-add.label.firstname'|translate}}"
                ng-model="employee.firstname"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(employeeForm.firstname.$error.required, employeeForm.firstname.$dirty)"
            translate="employee-add.validator.firstname.required">Name is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(employeeForm.lastname.$valid,employeeForm.lastname.$dirty),
               'has-error':andOperator(employeeForm.lastname.$invalid,employeeForm.lastname.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="employee-add.label.lastname">Name</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="lastname" 
                required="true"
                ng-attr-placeholder="{{'employee-add.label.lastname'|translate}}"
                ng-model="employee.lastname"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(employeeForm.lastname.$error.required, employeeForm.lastname.$dirty)"
            translate="employee-add.validator.lastname.required">Lastame is required</p>
      </div>
   </div>

   <div class="row">
      <div class="col-md-11">
         <button type="button"  
                 class="btn btn-primary btn-lg pull-right" 
                 ng-attr-title="{{'employee-add.button.save'|translate}}"
                 ng-click="saveEmployee()" 
                 ng-disabled="questionnaireTemplateForm.$invalid">

            <i class="fa fa-save"></i>
            <span translate="employee-add.button.save">Save</span>
         </button>
      </div>
      <div class="col-md-1">  
         <a ui-sref="employee.list" ng-attr-title="{{'employee-add.button.cancel'|translate}}" class="btn btn-default pull-right">
            <i class="fa fa-undo"></i>
            <span translate="employee-add.button.cancel">Cancel</span>
         </a>
      </div>
   </div>
</form>
