<h3>
   <span>
      {{'employee-list.label'|translate}}
   </span>
</h3>
<div class="row">
   <div class="col-md-4">
      <h4 translate="employee-list.label.count"
          translate-values="{count:'{{filtered.length}}'}"></h4>
   </div>
   <div class="col-md-4">
      <div ng-show="loading">
         <i class="fa fa-spinner fa-spin"></i>
         <span class="text-lowercase">{{'employee-list.label.loading'|translate}}</span>
      </div>
   </div>
   <div class="col-md-4">
      <a class="btn btn-success"
         ui-sref="employee.add" 
         sec:authorize="hasAnyRole('ROLE_ADMIN')">
         <i class="fa fa-plus-square"></i>
         <span class="hidden-xs" 
               translate="employee-list.label.add" >
            Create User
         </span>
      </a>
   </div>
</div>

<h4 class="text-center"
    ng-show="!employees.length">
   {{'employee-list.label.noData'|translate}}
</h4>

<div ng-show="employees.length">
   <div class="row row-header-bottom">
      <div class="hidden-xs col-md-3">{{'employee-list.label.employee.lastname'|translate}}</div>
      <div class="hidden-xs col-md-3">{{'employee-list.label.employee.firstname'|translate}}</div>
      <div class="hidden-xs col-md-3">{{'employee-list.label.title'|translate}}</div>
      <div class="col-md-3"></div>
   </div>
   <div class="row row-custom" ng-repeat="employee in filtered = (employees
                        | orderBy:['lastname', 'firstname', 'title']) ">
      <div class="col-xs-5 visible-xs">
         <strong><small>{{'employee-list.label.employee.lastname'|translate}}</small></strong>
      </div>
      <div class="col-xs-7 col-md-3">
         <a ui-sref="employee.common.details({id: employee.employeeId})">
            {{employee.lastname}}
         </a>
      </div>
      <div class="col-xs-5 visible-xs">
         <strong><small>{{'employee-list.label.employee.firstname'|translate}}</small></strong>
      </div>
      <div class="col-xs-7 col-md-3">
         <a ui-sref="employee.common.details({id: employee.employeeId})">
            {{employee.firstname}}
         </a>
      </div>
      <div class="col-xs-5 visible-xs">
         <strong><small>{{'employee-list.label.title'|translate}}</small></strong>
      </div>
      <div class="col-xs-7 col-md-3">{{employee.title}}</div>
      <div class="col-xs-5 visible-xs">
         <strong><small>{{'employee-list.label.worker'|translate}}</small></strong>
      </div>
      <div class="col-md-3">
         <a class="btn btn-primary"
            ui-sref="employee.edit({id: employee.employeeId})" 
            sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <i class="fa fa-pencil-square-o"></i>
            <span class="hidden-xs" 
                  translate="employee-list.label.edit" >
               Employee Edit
            </span>
         </a>
         <a ng-if="!employee.enabled"
            class="btn btn-success"
            ng-click="unblockUser(employee.employeeId)"
            sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <i class="fa fa-check-square-o"></i>
            <span class="hidden-xs" 
                  translate="employee-list.label.unblock" >
               Employee unlock
            </span>
         </a>
         <a 
            class="btn btn-danger"
            ng-click="deleteUser(employee.employeeId)"
            sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <i class="fa fa-times"></i>
            <span class="hidden-xs" 
                  translate="employee-list.label.delete" >
               Employee delete
            </span>
         </a>
      </div>
   </div>
</div>

<div class="modal fade" tabindex="-1" id="ProcessingModal" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <div class="text-center">
               <i class="fa fa-cog fa-5x fa-spin"></i>
               <h4>{{'employee-list.label.loading'|translate}} </h4>
            </div>
         </div>
      </div>
   </div>
</div>
