<h3>
   <span translate="credit-add.label.new">
      New Credit
   </span>
</h3>
<br/>
<form method="post" class="form-horizontal"
      role="form" action="..." name="creditForm">
   <div class="form-group"
        ng-class="{'has-success':andOperator(creditForm.startDate.$valid,creditForm.startDate.$dirty),
               'has-error':andOperator(creditForm.startDate.$invalid,creditForm.startDate.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-add.label.startDate">Start Date</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="startDate" 
                required="true"
                ng-attr-placeholder="{{'credit-add.label.startDate'|translate}}"
                ng-model="credit.startDate"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.startDate.$error.required, creditForm.startDate.$dirty)"
            translate="credit-add.validator.startDate.required">Start date is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(creditForm.finishDate.$valid,creditForm.finishDate.$dirty),
               'has-error':andOperator(creditForm.finishDate.$invalid,creditForm.finishDate.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-add.label.finishDate">Finish date</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="finishDate" 
                required="true"
                ng-attr-placeholder="{{'credit-add.label.finishDate'|translate}}"
                ng-model="credit.finishDate"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.finishDate.$error.required, creditForm.finishDate.$dirty)"
            translate="credit-add.validator.finishDate.required">Finish date is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(creditForm.provison.$valid,creditForm.provison.$dirty),
               'has-error':andOperator(creditForm.provison.$invalid,creditForm.provison.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-add.label.provison">Provision</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="provison" 
                required="true"
                ng-attr-placeholder="{{'credit-add.label.provison'|translate}}"
                ng-model="credit.provison"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.provison.$error.required, creditForm.provison.$dirty)"
            translate="credit-add.validator.provison.required">Provison is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(creditForm.installment.$valid,creditForm.installment.$dirty),
               'has-error':andOperator(creditForm.installment.$invalid,creditForm.installment.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-add.label.installment">Installment</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="installment" 
                required="true"
                ng-attr-placeholder="{{'credit-add.label.installment'|translate}}"
                ng-model="credit.installment"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.installment.$error.required, creditForm.installment.$dirty)"
            translate="credit-add.validator.installment.required">Installment is required</p>
      </div>
   </div>
   
      <div class="form-group" 
   		ng-class="{'has-success':andOperator(creditForm.rateOfInterest.$valid,creditForm.rateOfInterest.$dirty),
               'has-error':andOperator(creditForm.rateOfInterest.$invalid,creditForm.rateOfInterest.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-add.label.rateOfInterest">Rate Of Interest</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="rateOfInterest" 
                required="true"
                ng-attr-placeholder="{{'credit-add.label.rateOfInterest'|translate}}"
                ng-model="credit.rateOfInterest"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.rateOfInterest.$error.required, creditForm.rateOfInterest.$dirty)"
            translate="credit-add.validator.rateOfInterest.required">Rate Of Interest is required</p>
      </div>
   </div>
   
      <div class="form-group" 
   		ng-class="{'has-success':andOperator(creditForm.interest.$valid,creditForminterest.$dirty),
               'has-error':andOperator(creditForm.interest.$invalid,creditForm.interest.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-add.label.interest">Interest</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="interest" 
                required="true"
                ng-attr-placeholder="{{'credit-add.label.interest'|translate}}"
                ng-model="credit.interest"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.interest.$error.required, creditForm.interest.$dirty)"
            translate="credit-add.validator.interest.required">Interest is required</p>
      </div>
   </div>
   
   <div class="form-group" >
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-add.label.insurance">Insurance</label>
      </span>
      <div class="col-sm-1">
         <input type="checkbox"
                class="form-control left"
                name="insurance" 
                ng-model="credit.insurance"
         ></input>
      </div>
   </div>
   
   

   <div class="row">
      <div class="col-md-11">
         <button type="button"  
                 class="btn btn-primary btn-lg pull-right" 
                 ng-attr-title="{{'credit-add.button.save'|translate}}"
                 ng-click="saveCredit()" 
                 ng-disabled="questionnaireTemplateForm.$invalid">

            <i class="fa fa-save"></i>
            <span translate="credit-add.button.save">Save</span>
         </button>
      </div>
      <div class="col-md-1">  
         <a ui-sref="credit.list" ng-attr-title="{{'credit-add.button.cancel'|translate}}" class="btn btn-default pull-right">
            <i class="fa fa-undo"></i>
            <span translate="credit-add.button.cancel">Cancel</span>
         </a>
      </div>
   </div>
</form>
