<div class="row">
   <div class="col-md-9 col-xs-12">
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'credit-details.credit.finishDate'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.finishDate | date:'yyyy-MM-dd HH:mm'}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'credit-details.credit.startDate'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.startDate | date:'yyyy-MM-dd HH:mm'}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'credit-details.credit.rateOfInterest'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.rateOfInterest}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'credit-details.credit.interest'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.interest}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'credit-details.credit.insuranace'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.insuranace}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'credit-details.credit.installment'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.installment}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'credit-details.credit.provison'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.provison}}</div>
      </div>
   </div>
</div>

